* {
  font-family: Arial, Helvetica, sans-serif;
}
html
{
  min-height: 100%;
}
html body{
  margin: 0;
  padding: 0;
  background-color:lightcyan;
  min-height: 100%;
}
.classyPage {
  background-image: linear-gradient(aliceblue, gray);
}
main {
  margin: auto;
  width: 50%;
  padding: 20px;
}

main > h1 {
  text-align: center;
  font-size: 3.5em;
}

.linkOption {
  border: 2px rebeccapurple solid;
  border-radius: 10px;
  padding: 10px;
  font-size: 2em;
  background-color: lavender;
  text-decoration: none;
  color: black;
  display: inline-block;
}

.mainPageLink {
  position: relative;
  outline: 2px rebeccapurple solid;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  font-size: 5em;
  background-color: lavender;
  text-decoration: none;
  color: black;
  height: 200px;
  overflow: hidden;
  display: block;
}

.mainPageLink:hover {
  outline-width: 4px;
}

.mainPageLink img {
  width: 100%;
  filter: blur(5px);
}

.mainPageLink span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 10px white;
}

.viewWindow {
  background-color: gray;
  float: right;
  width: 20%;
  min-height: 200px;
}

header{
  background-color: antiquewhite;
  border-bottom: 2px black solid;
}
.headerItem{
  font-size: xx-large;
  padding: 15px;
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  color: black;
  background-color: white;
  outline: 1px black solid;
  border-radius: 30px;
  margin: 5px;
}
.headerItem:hover{
  outline-width: 2px;
}

.load
{
  top: 0;
  margin: 0 auto;
  padding-top: 10%;
  height: 100%;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 100;
  background-color: rgba(128, 128, 128, 0.8);
  font-size: x-large;
}
.load img {
  position: relative;
  align-self: center;
  vertical-align: center;
  height: 40%;
  min-width: 20%;
  max-width: 50%;
}

.dataPoint
{
  background-color: lightcoral;
  border-radius: 30px;
  border: 1px black solid;
}

.option
{
  border: 1px black solid;
}

div#main {
  border: 2px black solid;
  text-align: center;
}

.pageList {
  background-color: aqua;
  height: 1.5rem;
  word-wrap: break-word;
  overflow: hidden;
}

.itemTable {
  background-image: linear-gradient(orchid, peachpuff);
}

table
{
  table-layout: auto;
  border-spacing: 0;
  width: 100%;
  box-sizing: border-box;
}

thead th {
  width: auto;
  background-color: blueviolet;
  position: sticky;
  top: 0;
}

.searchFilter {
  max-width: 75%;
}
th, td {
  width: auto;
  border: 1px black solid;
  word-break: break-all;
  word-wrap: break-word;

}
.itemTable th,.itemTable td {
  padding: 5px;
}

.rowSelect
{
  outline: 3px yellow solid;
  background-color: chartreuse;
}

.DataPointsTable
{
  table-layout: fixed;
}
.data {
  box-sizing: border-box;
  width: 85%;
}

.itemImage {
  width: auto;
  height: 30px;
}

#correctAnswers div {
  border-top: 2px navy solid;
}

/* Mobile specific for Items */
@media (max-width: 600px) {
  main {
    width: 100%;
    padding: 0;
  }

  .headerItem {
    padding: 10px;
    font-size: x-large;
  }

  main>h1 {
    font-size: 2.5em;
  }
  
  .viewWindow {
    min-height: auto;
    height: 40px;
    width: 40px;
    overflow: hidden;
  }
  .viewWindow:hover {
    width: 100%;
    height: auto;
  }
}

